* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.body__lock {
    height: 100%;
    overflow: hidden;
}

.body-shadow {
    z-index: 9;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
}

a {
    text-decoration: none;
}

.container__header {
    max-width: 1660px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 1243px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.none {
    display: none;
}