.section__under-banner {
    padding-top: 33px;
    padding-bottom: 33px;
    background: linear-gradient(90.22deg, #0081D8 0%, #006CB5 100%);
}

.under-banner__par {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}